@model IEnumerable<VADS.Models.VehicleStatusModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PidDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PidRuntime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PidCoolantTemp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInfo.VehicleBrand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PidDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PidRuntime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PidCoolantTemp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleInfo.VehicleBrand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatusId })
        </td>
    </tr>
}

</table>
