@model VADS.Models.OwnerModel

@{
    ViewBag.Title = "Registrar cliente";
}

<h2>Registrar cliente nuevo</h2>

<ul class="pager">
    <li class="previous"><a href="@Url.Action("Index", "Client")">&larr; Atrás</a></li>
</ul>

@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <div class="form-group">
    <label>Nombre</label>
    @Html.TextBoxFor(model => model.Name, new{@class = "form-control name", @placeholder = "Nombre" })
        @*@Html.ValidationMessageFor(model => model.Name)*@

</div>
<div class="form-group">
    <label>Apellido</label>
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control name", @placeholder = "Apellido" })
    @*@Html.ValidationMessageFor(model => model.LastName)*@
</div>
<div class="form-group">
    <label>Email</label>
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @type="email"})
    @*@Html.ValidationMessageFor(model => model.Email)*@
</div>
<div class="form-group">
    <label>Teléfono</label>
    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Teléfono", @type = "phone" })
    @*@Html.ValidationMessageFor(model => model.Phone)*@
</div>
<input class="btn btn-default" type="submit" value="Registrar" />
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
