@model VADS.Models.VehicleInfoModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>VehicleInfoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleBrand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleBrand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleModel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerModel.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerModel.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
