@using System.Collections
@using Microsoft.Ajax.Utilities
@using VADS.Models
@model VADS.Models.VehicleInfoModel

@{
    ViewBag.Title = "Añadir vehículo";
}

<h2>Añadir vehículo</h2>
<br/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VehicleInfoModel</legend>
        
        <div class="editor-label">
            @Html.Label("Marca")
        </div>
        <div class="editor-field">
            //**/
            @Html.ValidationMessageFor(model => model.VehicleBrand)
        </div>
        
        @*<script type="text/javascript">
            function CascadingDDLViewModel() {
                this.models = ko.observableArray([]);
            }

            var objVM = new CascadingDDLViewModel();
            ko.applyBindings(objVM);
            
            function FetchModels() {
                var brandId = $("#ddlBrands").val();
                $.getJSON("/vehicle/GetStates/" + brandId, null, function (data) {
                    objVM.models(data);
                });
            }
        </script>*@
        <p data-bind="visible: models().length > 0">
            <div class="editor-label">
                @Html.Label("Modelo")
            </div>
            @*<select data-bind="options: models, optionsText: 'Model', optionsValue: 'BrandId', optionsCaption: '-Select one-' "></select>*@
        </p>
        
        <div id="modelos" class="editor-field">
            @*@{

                var db = new VehicleContext();
                var query = db.VehicleModelses.Select(models => new {models.Model, models.BrandId}).Where(Model.ToString);
                ViewBag.VehicleModels = new SelectList(query.AsEnumerable(), "Model", "Model");

            }*@
            @Html.DropDownList("VehicleModels", "-Select one-")
            @Html.ValidationMessageFor(model => model.VehicleModel)
        </div>

        <div class="editor-label">
            @Html.Label("Año")
        </div>
        <div class="editor-field">
            @{
                var years = Enumerable.Range(1996, DateTime.Now.Year - 1995)
                   .ToList()
                   .OrderByDescending(d => d)
                   .Select(e => new SelectListItem
                   {
                       Text = e.ToStringInvariant(),
                       Value = e.ToStringInvariant()
                   });
            }
            @Html.DropDownListFor(model => model.Year, years, "-Seleccione uno-")
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">  
            @Html.Label("Placa")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Plate)
            @Html.ValidationMessageFor(model => model.Plate)
        </div>

        <div class="editor-label">
            @Html.Label("Dueño")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OwnerId", "-Seleccione uno-")
            @Html.ValidationMessageFor(model => model.OwnerId)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
