@using Microsoft.Ajax.Utilities
@using VADS.Models
@model VehicleInfoModel

@{
    ViewBag.Title = "Añadir vehículo";
}

<h2>Añadir vehículo</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div>
            <label>Marca</label>
        </div>
        <div>
            @Html.DropDownListFor(m => m.VehicleModel.BrandId, (IEnumerable<SelectListItem>)ViewBag.VehicleBrands, "Seleccione Una Marca")
        </div>
        <p data-bind="visible: models().length > 0">
            <div>
                <label>Modelo</label>
            </div>
            @Html.DropDownListFor(m => m.VehicleModelId, Enumerable.Empty<SelectListItem>())
        </p>
        <div>
            @Html.Label("Año")
        </div>
        <div>
            @{
    var years = Enumerable.Range(1996, DateTime.Now.Year - 1995)
       .ToList()
       .OrderByDescending(d => d)
       .Select(e => new SelectListItem
       {
           Text = e.ToStringInvariant(),
           Value = e.ToStringInvariant()
       });
            }
            @Html.DropDownListFor(model => model.Year, years, "-Seleccione uno-")
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div>
            @Html.Label("Placa")
        </div>
        <div>
            @Html.EditorFor(model => model.Plate)
            @Html.ValidationMessageFor(model => model.Plate)
        </div>

        <div>
            @Html.Label("Dueño")
        </div>
        <div>
            @Html.DropDownList("OwnerId", "-Seleccione uno-")
            @Html.ValidationMessageFor(model => model.OwnerId)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            //Event that handles population of models. Out of KO object to reduce size of json object
            $("#VehicleModel_BrandId").change(function () {
                var options = $("#VehicleModelId");
                var brandId = $(this).val();
                if (brandId == "") {
                    options.html("");
                    return;
                }
                $.ajax("/Vehicle/GetModelsByBrand", {
                    data: { "brandId": brandId },
                    type: "get",
                    contentType: "application/json",
                    success: function (result) {
                        options.html("");
                        $.each(result, function () {
                            options.append($("<option />").val(this.Value).text(this.Text));
                        });
                        $("#VehicleModelId").change();
                    }
                });
            });
        });
    </script>
}
