@model IEnumerable<VADS.Models.VehicleInfoModel>

@{
    ViewBag.Title = "Vehículos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar un vehículo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.VehicleBrand.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plate)
        </th>
        <th>
            @Html.DisplayName("Nombre del cliente")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel.VehicleBrand.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerModel.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.VehicleId }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.VehicleId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.VehicleId })
            </td>
        </tr>
    }

</table>
<br />
<div>
    @Html.ActionLink("Volver al panel de administración", "Index", "Manage")
</div>
