<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - VADS</title>
        <link href="~/icon.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/bootstrap")
        <script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
        <meta name="description" content="VADS - Vehicle Automatic Diagnostics System" />
</head>
    <body>
        
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="/" title="Volver a la pagina de inicio" id="logo">
                        <img src="~/logo2.png" class="img-responsive"  alt="VADS Logo"> 
                    </a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("Acerca de VADS", "About", "Home")</li>*@
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            @if (ViewContext.HttpContext.User.IsInRole("canEdit"))
                            {
                                <li>@Html.ActionLink("Administrar", "Index", "Manage")</li>
                            }
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">@Page</li>
                </ol> -->
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Vehicle Automatic Diagnostics System</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
