@model IEnumerable<VADS.Models.Appointment>

@{
    ViewBag.Title = "Mantenimientos Pendientes";
}

<h2>Mantenimientos pendientes</h2>
<ul class="pager">
    <li class="previous"><a href="@Url.Action("Index", "Client")">&larr; Atrás</a></li>
</ul>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                Mantenimiento
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>
                Representante asignado
            </th>
            <th>
                Vehículo
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maintenance)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @{
            DateTime hora = new DateTime();


}
                    @hora.AddHours(item.Round + 8).ToString("h:mm:ss tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.VehicleModel.VehicleBrand.Brand)
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.VehicleModel.Model)
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.OwnerModel.Name)
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.OwnerModel.LastName)
                </td>
                @*<td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Elminar", "Delete", new { id = item.Id })
                </td>*@
            </tr>
        }

    </table>
</div>
