@model IEnumerable<VADS.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Agenda de Mantenimientos</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInfoModel.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Maintenance)
        </td>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleInfoModel.Year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
