@model IEnumerable<VADS.Models.Appointment>

@{
    ViewBag.Title = "Seleccionar Cita";
}

<h2>Horarios disponibles</h2>

<div >
    <h3>
        Hola <strong>@ViewBag.Nombre</strong>!
    </h3>
    <h4>Elige un horario para tu cita con el taller.</h4>
    <h5><strong>Mantenimiento: </strong>@ViewBag.maintenance</h5>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Maintenance)
            </th>*@
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>
                Representante
            </th>
            @*<th>
                Vehículo
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Maintenance)
                </td>*@
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Round)*@
                    @{
                    DateTime hora = new DateTime();


                    }
                    <text>
                        @hora.AddHours(item.Round + 8).ToString("h:mm:ss tt")

                    </text>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.NombreCompleto)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.VehicleModel.VehicleBrand.Brand)
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.VehicleModel.Model)
                    @Html.DisplayFor(modelItem => item.VehicleInfoModel.Year)

                </td>*@
                <td>
                    <a id="@item.Id" class="elBoton btn btn-success" data-toggle="modal" data-target="#modalSelect">Seleccionar cita</a>
                    @*@Html.ActionLink("Seleccionar Cita", "Seleccionar", "Appointment", new 
                    {   
                        ownerId = ViewBag.ownerId, 
                        appointmentId = item.Id, 
                        maintenance = ViewBag.maintenance, 
                        @class = "btn btn-default", 
                        @data_toggle="modal", 
                        @data_target="#modalSelect"},  null)
                </td>*@
            </tr>
        }

    </table>
</div>



<div class="modal fade" id="modalSelect" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel">Has seleccionado un horario</h4>
            </div>
            <div class="modal-body">
                <h3>Está seguro(a) que deseas seleccionar este horario?</h3> <br/>
                <h4>Fecha: <span id="fechaM"></span></h4>
                <h4>Hora: <span id="horaM"></span></h4>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a id="elBotonDeVelda" style="color:white;" class="btn btn-primary">Aceptar</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var elLink = '/Appointment/Seleccionar?ownerId='+@ViewBag.ownerId+'&maintenance='+'@Uri.EscapeDataString(@ViewBag.maintenance)' + '&appointmentId=';
        $(".elBoton").each(function (index, value) {
            var self = $(this);
            $(this).click(function () {
                $("#elBotonDeVelda").attr("fecha", self.parent().parent().children().filter(':nth-child(1)').text().trim());
                $("#elBotonDeVelda").attr("hora", self.parent().parent().children().filter(':nth-child(2)').text().trim());
                var fechaMant = self.parent().parent().children().filter(':nth-child(1)').text().trim();
                var horaMant = self.parent().parent().children().filter(':nth-child(2)').text().trim();
                var elSeleccionao = elLink + value.id;
                $("#elBotonDeVelda").attr("href", elSeleccionao);
                $("#fechaM").html(fechaMant);
                $("#horaM").html(horaMant);
            });
        });        

    </script>
}

