@model IEnumerable<VADS.Models.Appointment>

@{
    ViewBag.Title = "Seleccionar Cita";
}

<h2>Horarios disponibles</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance)
        </th>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Representante
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInfoModel.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maintenance)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Round)*@
                @{
                    DateTime hora = new DateTime();
                   
                    
                }
                <text>
                    @hora.AddHours(item.Round + 8).ToString("h:mm:ss tt")
                    
                </text>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleInfoModel.Year)
            </td>
            <td>
                @Html.ActionLink("Seleccionar Cita", "Seleccionar", "Appointment", new { ownerId = ViewBag.ownerId, appointmentId = item.Id, maintenance = ViewBag.maintenance }, null)
            </td>
        </tr>
    }

</table>
